
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  /* shared style */
  .text-center{
      text-align: center;
  }
  
  .secondary-bg{
      background-color: #fff8f3;
  }
  .section-title{
      font-size: 35px;
      font-weight: bold;
  }
  
  .section-description{
      font-size: 15px;
      color: #757575;
      margin-bottom: 50px;
      
  }
  
  .text-primary{
      color:#FD6E0A;
  }
  
  .dark-2{
      color: #474747;
  }
  .btn-primary{
      background-color:#FD6E0A;
      font-weight: bold;
      color: white;
      font-size: 20px;
      padding: 18px 35px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: none;
      min-width: 150px ;
  }
  
  
  /* nav styles */
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 150px;
      margin-bottom: 50px;
  
  }
  .nav-title{
      font-weight: 800;
      font-size: 45px;
  }
  
  nav ul li{
      list-style: none;
      margin-right: 50px;
  }
  
  nav li a{
      text-decoration: none;
      font-size: 20px;
  }
  
  nav ul{
      display: flex;
      align-items: center;
  }
  
  /* banner styles */
  .banner-content{
      max-width: 500px;
  }
  .banner{
      display: flex;
      justify-content: space-around;
      margin: 0 0px 0 130px;
      
  }
  .banner-greetings{
      font-size: 45px;
      font-weight: 600;
  
  }
  
  .banner-title{
      font-weight: bold;
      font-size: 85px;
      
  }
  
  .banner-profile-picture{
      /* width: 500px; */
      display: flex;
      align-items: end;
      
  }
  .banner-profile-picture >img{
      width: 500px;
      height: fit-content;
  }
  
  
  /* header */
  .header{
      background-image: url(/images/developer.png),url(/images/header_bg.png);
      background-repeat: no-repeat;
      background-position: top left,bottom right;
  }
  
  /* about styles */
  .about{
      border-radius: 10px;
      padding: 130px 150px;
      text-align: center;
      margin-top: 130px;
  }
  
  .item-description{
      font-weight: 600;
  
  }
  .about-items{
      justify-content: space-around;
      display: flex;
  }
  /* main styles */
  main{
      max-width: 1140px;
      margin: 0 auto;
  
  }
  
  main section{
      margin-top: 120px;
      margin-bottom: 120px;
  }
  
  /* skills sections */
  
  .skills-container{
      display: flex;
      gap: 24px;
      margin: 20px;
  }
  
  .skill{
      padding: 30px;
      border-radius: 5%;
      box-shadow: 0px 6px 50px 0px rgba(0,0,0,.1);
  }
  
  /* resume styles */
  .resume-container{
      display: flex;
      gap: 30px;
      margin: 20px;
  }
  .experience-description, .experience-sub-title{
      color: #474747;
      
  }
  .experience-sub-title{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 20px;
      
  }
  .resume-column-title{
      font-size: 25px;
  }
  .experience-title{
      font-size: 24px;
      margin-bottom: 15px;
  }
  
  .resume hr{
      margin-top: 30px;
      margin-bottom: 30px;
  }
  
  .resume-download-cv{
      margin-top: 50px;
      margin-bottom: 30px;
  }
  
  /* footer styles */
  
  .ftr{
      padding: 180px 10%;
      display: flex;
      gap: 100px;
      justify-content: space-evenly;
      align-items: center;
  }
  
  
  .footer-column{
      width: 45%;
      
  }
  
  footer input[type="text"],footer input[type="email"],footer textarea {
      height: 64px;
      border-radius:5px;
      background-color: white;
      display: block;
      width: calc(100% - 40px);
      padding: 10px 20px;
      margin-bottom: 24px;
      border: none;
      font-size: 20px;
  }
@media (max-width: 900px) {

    /* nav styles */
nav{
    margin: 0px 100px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    
}
.banner-content , .banner-profile-picture{
    margin: auto;
}

.banner-profile-picture{
    max-width: 400px;
    display: flex;
    align-items: end;
    justify-content: end;
    
}
.banner-profile-picture >img{
    max-width: 400px;
    height: fit-content;
    justify-content: end;
}


    .header{
        background-image: url(/images/header_bg.png);
        background-position: bottom right;
    }
    .about-items{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .about{
        margin: auto;
        padding: 30px;
    }
    .ftr > div{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .header > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .skills-container{
        flex-wrap: wrap;
    }
    .header > nav{
        display: flex;
        flex-direction: column;
    }
    .ftr{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 50px;
    }
    .ftr > div{
        width: 100%;
        margin: 40px;
    }

}

@media (max-width: 500px) {
    .header > nav > ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .resume-container{
        display: flex;
        flex-direction: column;
    }
    .banner-profile-picture , .banner-profile-picture > img{
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .section-title{
        font-size: 30px;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner-greetings{
        font-size: 37px;
        margin: auto;
    }
    .skill{
        margin: auto;
    }
    .ftr{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
    }
 
}

@media (max-width: 400px){
    .ftr{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
    }
}